@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Vazirmatn:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}

fieldset {
  padding: 10px;
}

fieldset input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset label {
  display: block;
  padding: 10px;
}

fieldset legend {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}
